<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact Page
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}

  {% module
    "navigation"
    path="../components/modules/Navigation"
  %}

  {% module
    "hero"
    path="../components/modules/ContactHero"
    label="Contact Hero"
  %}

  {% module
    "contact_form"
    path="../components/modules/ContactForm"
    layout="split"
  %}

  {% module
    "newsletter"
    path="../components/modules/Newsletter"
    layout="boxed"
  %}

  {% module
    "footer"
    path="../components/modules/Footer"
  %}

{% endblock body %}
