<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pricing Page
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}

  {% module
    "content_hero"
    path="../components/modules/ContentSection"
    heading="Simple, Transparent Pricing"
    rich_text="<p>Choose the plan that fits your organization. All plans include our core features with flexible options to scale as you grow.</p>"
    text_alignment="center"
    background_color="light"
  %}

  {% module
    "pricing_table"
    path="../components/modules/PricingTable"
  %}

  {% module
    "roi_calculator"
    path="../components/modules/ROICalculator"
  %}

  {% module
    "faq"
    path="../components/modules/FAQSection"
  %}

  {% module
    "cta"
    path="../components/modules/CTASection"
  %}

  {% module
    "footer"
    path="../components/modules/Footer"
  %}

{% endblock body %}
